.settings
.project
/styles/gringegreen/images/Thumbs.db
/tmp/runtime/HTML
/application/controllers/admin/updater.php
/tmp/*.html
/tmp/*.lss
/tmp/*.png
/tmp/*.xls
/tmp/*.lsa
/tmp/upload/fu*
/upload/.htaccess
/nbproject
/tmp/assets/*
/tmp/runtime/cache/*
/framework
.svn
/third_party/jqgrid/src
.settings/org.eclipse.php.core.prefs
.buildpath
/application/config/config.php
.gitattributes
.htaccess
.scrutinizer.yml
README
/admin/
/application/
/docs/
/fonts/
/images/
index.php
/installer/
/locale/
phpci.yml
/plugins/
/scripts/
/styles-public/
/styles/
/templates/
/themes/
/third_party/
/tmp/
/upload/surveys
/upload/labels
/upload/images
!/upload/templates/mango/*
